html, body {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

body {
    height: 100%;
    display: block;
}

#main-container {
    display: flex;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
    height: 75dvh;
}

#game-and-log {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.square {
    border: 1px solid black;
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
}

#side-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

#button-container {
    margin-top: auto;
}

.control-button {
    text-align: center;
    padding: 0.3rem;
    border: 1px solid black;
}

#reset-button {
    margin-top: 0.5rem;
}

.input-div {
    margin: 1rem 0;
    font-size: 0.75rem;
}

#log-container {
    border: 1px solid black;
    font-size: 0.75rem;
    flex: 1;
}

#log-text {
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

#id {
    padding: 0.5rem;
}

.submit-name {
    margin-top: 0.75rem;
}

header div {
    margin: 1rem
}