html, body {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

body {
    height: 100dvh;
    display: block;
    font-family: 'Supreme', sans-serif;
}

header div{
    font-size: 3rem;
    margin: 0 1rem;
}

#main-container {
    display: flex;
    margin: 0 1rem 1rem 1rem;
    border: 4px solid black;
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
}

#game-and-log {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, clamp(80px, 20vw, 172px));
    grid-template-rows: repeat(3, clamp(80px, 20vw, 172px));
    align-items: center;
    align-content: center;
    justify-content: center;
}

.square {
    border: 4px solid black;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
}

#button-container {
    margin-top: auto;
    width: 100%;
}

.control-button {
    text-align: center;
    padding: 0.3rem;
    border: 2px solid black;
}

.control-button:hover {
    background-color: rgb(238, 238, 238);
    transition: 0.1s;
}

.control-button:active {
    color: white;
    background-color: rgb(34, 34, 34);
}

#reset-button {
    margin-top: 0.5rem;
}

.input-div {
    margin: 1rem 0;
    font-size: 0.75rem;
}

#log-container {
    border: 4px solid black;
    font-size: 0.75rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 50dvw;
    padding: 0.5rem;
}

#log-text {
    padding: 0.2rem;
    border-bottom: 2px solid black;
}

#log {
    min-height: 1rem;
    min-width: 1rem;
    margin: 0.3rem 0 0 0.3rem;
}

#id {
    padding: 0.5rem;
}

.submit-name {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    gap: 1rem
}

input {
    padding: 2px 4px;
    border: 2px solid black;
    font-family: 'Supreme', sans-serif;
    background-color: rgb(238, 236, 236);
    font-size: 16px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
    font-family: 'Supreme', sans-serif;
    border: 2px solid black;
    padding: 4px 16px;
}

button:hover {
    background-color: rgb(238, 238, 238);
    transition: 0.2s;
}

button:focus:active {
    color: white;
    background-color: rgb(34, 34, 34);
}

